@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* 🔁 SVG Background Animation */
@keyframes pan {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 400px 400px; /* 🔁 longer and smoother movement */
  }
}

body {
  @apply text-base;
  background-color: #1d1d1d;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23999999' fill-opacity='0.2'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: auto;
  animation: pan 20s linear infinite;
  font-family: "Caudex", sans-serif;
  color: white;
  scroll-behavior: smooth; */
}

.masonry-column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

html {
  scroll-behavior: smooth;
}
